<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
<<<<<<< HEAD
=======
        <p>This site was created by Guido Hansen. It uses data from mapbox.com and darksky.net </p>
>>>>>>> b33a64570ee2160b0221bc2df0e80aaeaf27b7f2
        <img class="portrait" src="/img/guido.jpg">
    </div>
  {{>footer}}
</body>

</html>